* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    min-height: 300vh;
}

content section {
    align-items: center;
    color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
  }

.displayBox {
    align-items: center;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 6px #09203f, 0 3px 6px #3F72AF;
    display: flex;
    margin: 0 auto 0 auto;
    max-width: 1000px;
    overflow: hidden;
}

.aboutImage {
    flex: 1.2;
    max-height: 300px;
    overflow: hidden;
}

.aboutInfo {
    color: black;
    flex: 2;
    padding: 15px;
    text-align:center;
}

.aboutInfo p {
    clear: both;
    color: #5e5757;
    font-size: 100%;
    font-weight: 300;
    line-height: 1.65;
    margin: 0 0 15px 0;
}

.aboutInfo h3 {
    clear: both;
    color: #5e5757;
    float: left;
    font-size: 100%;
    margin: 0 0 5px 0;
}

.aboutInfo span {
    color: #5e5757;
    font-size: 100%;
    margin: 0 0 0 0;
    float: right;
}

.header {
    clear: both;
    text-decoration: underline;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 0 25px 0;
}