* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

#About {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.aboutInfo {
    color: black;
    
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    
    padding: 10px;
    max-width: 100%;
    text-align:center;
}

.aboutInfo p {
    clear: both;
    color: #5e5757;
    font-size: 100%;
    font-weight: 300;
    line-height: 1.65;
    margin: 0 0 15px 0;
}

.aboutInfo h3 {
    clear: both;
    color: #5e5757;
    float: left;
    font-size: 100%;
    margin: 0 0 5px 0;
}

.aboutInfo span {
    color: #5e5757;
    font-size: 100%;
    float: right;
    margin: 0 0 0 0;
}


.aboutImage {

    background-color: blue;

    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    
    max-width: 100%;

}

.aboutImage img {
    
}

body {
    background-image: linear-gradient(to top, #537895 -15%, #09203f 100%);
    min-height: 300vh;
}

div section {
    height: 100vh;
}

.displayBox {
    align-items: center;
    
    background: #fff;
    border-radius: 0 0 0 0 ;
    /* border-radius: 5px 200px 200px 5px / 0px 190px 190px 0px; */
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, .9), 0 6px 15px 0 rgba(0, 0, 0, .9);    
    
    display: flex;
    

    margin: 0 auto 0 auto;
    min-width: 0;
    overflow: hidden;
}

.header {
    clear: both;
    text-decoration: underline;
    font-size: 1.75em;
    font-weight: 400;
    margin: 5px 0 25px 0;
}

#name {
    color: white;
    font-size: 300%;
    font-weight: 300;
    line-height: 1.65;
    text-align: center;
}


#wrapper {
    max-width: 100vw;
    margin: 0 auto;
}